<!-- Default form login -->
<div style="margin: 0 auto; width:210px">
  <form class="text-center border border-light" action="#!">

    <!-- Email -->
    <input type="text" id="defaultLoginFormUsername" 
        class="form-control form-control-sm" placeholder="Username" style="margin-bottom: 10px; margin-top: 60px">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" 
        class="form-control form-control-sm" placeholder="Password" style="margin-bottom: 10px;">

    <!-- Sign in button -->

   
    <button type="submit" class="btn btn-primary btn-sm float-right" 
        style="background-color: rgb(220, 43, 20);">Login</button>
  </form>
  <!-- Default form login -->
</div>