
<div class="container">
  <h2>Fading Modal</h2>
  <p>Add the "fade" class to the modal container if you want the modal to fade in on open and fade out on close.</p>

  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header bg-dark" >

          <a><i class="fa fa-comments fa-2x text-white" style="padding-right: 10px"></i></a>
          <h4 class="modal-title text-white"> SNOB</h4>
          <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body bg-danger text-white">
          Dear @User@, please select your journey with SNOBi
          <div class="card-columns">
              <div class="card bg-danger" style="width: 18rem;">
                <i class="fa fa-comments fa-5x text-white" style="padding-right: 10px"></i>
                <div class="card-body p-0">
                  <button type="button" class="btn btn-secondary">Guided</button>
                </div>
              </div>
            
              <div class="card bg-danger" style="width: 18rem;">
                  <i class="fa fa-comment fa-5x text-white" style="padding-right: 10px"></i>
                  <div class="card-body p-0">
                    <button type="button" class="btn btn-secondary">Jumpstart</button>
                  </div>
                </div>
          </div>
        <div>
          <label>Service Network Operation Bot Intelligence</label>
        </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>