<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(220, 43, 20);">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/images/bird.jpg" alt="logo" style="width:20px;">
  </a>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Link</a>
      </li>

    </ul>
    <!-- Search -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control form-control-sm" type="text" placeholder="Search">
    </form>
  </div>
</nav>